$barlow-font: 'Barlow', sans-serif;
$barlow-c-font: 'Barlow Condensed', sans-serif;
$bellefair-font: 'Bellefair', serif;
$main-text-color: #FFFFFF;
$other-text-color: #D0D6F9;

.Technology {
    background-image: url('../assets/technology/background-technology-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.Technology>main{
    margin:1.5rem auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}

.technology__header__text{
    display:flex;
    align-items: center;
    justify-content:center;
    gap: 19px;
    font-family: $barlow-c-font;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: $main-text-color;
}

.technology__page__index{
    font-family: $barlow-c-font;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: $main-text-color;
    mix-blend-mode: normal;
    opacity: 0.25;
}

.technology__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2.1rem;
}

.technology__img__container{
    width: 100%;
}

.technology__img{
    width: 100%;
    height: 170px;
}

.technology__text__container{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.6rem;
}

.technologies__container{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.technology{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $bellefair-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: $main-text-color;
    padding: .7rem 1rem;
    background-color: transparent;
    border-radius:50%;
    border: 1px solid $main-text-color;
}

.technology__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.8rem;
}

.terminology{
    font-family: $barlow-c-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2.3625px;
    color: $other-text-color;
}

.technology__name{
    font-family: $bellefair-font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: $main-text-color;
}

.technology__description{
    font-family: $barlow-font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: $other-text-color;
    margin-top: .7rem;
}


/*!TABLET MODE*/
@media (min-width: 35rem) {
    .Technology {
        background-image: url('../assets/technology/background-technology-tablet.jpg');
    }
    
    .Technology>main{
        margin:4rem auto 0 auto;
        flex-direction: column;
        gap:2.5rem;
    }
    
    .technology__header__text{
        margin-left: 3.4rem;
        align-self: flex-start;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
    }
    
    .technology__page__index{
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
    }
    
    .technology__container{
        gap:3.5rem;
    }
    
    .technology__img{
        height: 310px;
    }
    
    .technology__text__container{
        padding: 0 3.6rem;
        gap:3.5rem;
    }
    
    .technologies__container{
        gap: 35px;
    }
    
    .technology{
        padding: .8rem 1.1rem;
        font-size: 18px;
    }
    
    .technology__info{
        gap:.8rem;
    }
    
    .terminology{
        font-size: 16px;
        line-height: 19px;
    }
    
    .technology__name{
        font-size: 40px;
        line-height: 46px;
    }
    
    .technology__description{
        font-size: 16px;
        line-height: 28px;
    }
}

/*!DESKTOP MODE*/
@media (min-width: 65rem) {
    .Technology {
        background-image: url('../assets/technology/background-technology-desktop.jpg');
    }
    
    .Technology>main{
        margin:4rem auto 0 auto;
        flex-direction: column;
        gap:2.5rem;
        padding: 0;
    }
    
    .technology__header__text{
        align-self: flex-start;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 4.725px;
        margin-left:3.6rem;
    }
    
    .technology__page__index{
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 4.725px;
    }
    
    .technology__container{
        gap:2.5rem;
        width: 100%;
        flex-direction: row-reverse;
    }
    
    .technology__img{
        width: 515px;
        height: 527px;
    }
    
    .technology__text__container{
        padding: 0 3.6rem;
        gap:2.5rem;
        flex-direction: row;
    }
    
    .technologies__container{
        gap: 45px;
        flex-direction:column;
    }
    
    .technology{
        height: 80px;
        width: 80px;
        padding:0;
        font-size: 32px;
    }
    
    .technology__info{
        gap:1.7rem;
        align-items: flex-start;
    }
    
    .terminology{
        font-size: 16px;
        line-height: 19px;
    }
    
    .technology__name{
        font-size: 56px;
        line-height: 64px;
    }
    
    .technology__description{
        font-size: 18px;
        line-height: 32px;
        text-align:left;
    }
}